* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  height: 100vh;
  background: url("../images/aeca002.jpg") no-repeat center center/cover;
}
.hero__overlay {
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  padding: 20px;
  position: relative;
}
.hero__title {
  font-size: 7rem;
  margin-bottom: 10px;
}
.hero__subtitle {
  font-size: 1.5rem;
  margin-bottom: 5px;
}
.hero__description {
  font-size: 1.5rem;
  margin-bottom: 60px;
}
.hero__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.hero__buttons .button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px 80px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: none;
  position: relative;
}
.hero__buttons .button:before {
  content: "";
}
.hero__buttons .button:after {
  content: "";
  inset-block-end: 3px;
  inset-inline-end: 3px;
  width: 15px;
  height: 15px;
  position: absolute;
  border-inline-end: 1px solid #fff;
  transform: rotate(45deg);
}
.hero__buttons .button:hover {
  background: rgb(242, 170, 0);
  color: #000;
  border: 2px solid rgb(242, 170, 0);
}
.hero__buttons .button:hover .button__icon {
  fill: #000;
  transition: all 0.3s;
}
.hero__buttons .button__icon {
  width: 50px;
  height: 50px;
  fill: #fff;
}

.patch-note {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(31, 32, 34);
  padding: 40px;
  color: #fff;
  height: 80vh;
  position: relative;
}
.patch-note__container {
  position: absolute;
  top: -20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  background: #2C2A27;
}
.patch-note__content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 80px;
  max-width: 800px;
}
.patch-note__icon:hover {
  color: rgb(242, 170, 0);
  cursor: pointer;
}
.patch-note__title {
  font-size: 3rem;
  margin-bottom: 100px;
}
.patch-note__tabs {
  display: flex;
  gap: 5px;
}
.patch-note__tab {
  padding: 5px 20px;
  background: #2C2A27;
  color: #545351;
  border: 2px solid #545351;
  cursor: pointer;
  transition: all 0.3s;
  text-transform: uppercase;
  max-width: 110px;
  border-radius: 4px;
}
.patch-note__tab--active {
  color: rgb(242, 170, 0);
  border: 1px solid rgb(242, 170, 0);
}
.patch-note__update {
  margin-top: 40px;
  font-size: 2rem;
}
.patch-note__description {
  margin-top: 40px;
  font-size: 1.3rem;
  color: #545351;
  text-align: left;
}
.patch-note__image {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  overflow: hidden;
}
.patch-note__image img {
  height: 650px;
}

@media (max-width: 960px) {
  .hero__title {
    font-size: 3rem;
  }
}
@media (max-width: 820px) {
  .patch-note__image {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
