// Colors
$white: #fff;
$black: #000;
$gray: #2C2A27;
$dark-gray: rgb(31, 32, 34);
$light-gray: #545351;
$overlay-bg: rgba(0, 0, 0, 0.6);
$button-bg: rgba(255, 255, 255, 0.2);
$yellow: rgb(242, 170, 0);

//button colors
$button-color: #fff;
$button-hover-color: #000;
$button-border-color: #fff;
$button-hover-border-color: rgb(242, 170, 0);
$button-bg-color: rgba(255, 255, 255, 0.2);
$button-hover-bg-color: rgb(242, 170, 0)